<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>956400743327-jo5djsicep5sq1slsc5t9e59ijf2j9hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956400743327-jo5djsicep5sq1slsc5t9e59ijf2j9hn</string>
	<key>API_KEY</key>
	<string>AIzaSyBaC0l2o2m5FBkRlKlKFz35Tj7o176R_Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>956400743327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.netlify.enricogollner.Firebase-To-do</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-2ebbd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-2ebbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956400743327:ios:fcc769603f85f3dff883aa</string>
</dict>
</plist>